<DOCTYPE>
    <html lang="en">
    <head>
        {{>headerlinks}}
    </head>
    <body>
        {{>navbar}}
        <!-- main Header -->
        <div class="container-fluid_main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-6 main_header_right">
                            <figure>
                                <img src="coder.webp" alt="Harshit" class="img-fluid" title="Weather">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to Weather App</p>
                            <h1>I Am A <span class="text_clr"> Mern Stack Developer </span></h1>
                            <a href="/"><button>Home</button></a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
        <!-- footer -->
        {{>footer}}
    </body>
    </html>